@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body{
  background-color: rgb(13,60,109);
}
.title_name{
  font-size: xx-large;
  font-family: "Montserrat", sans-serif;
}
.explain_title{
  font-size: larger;
  font-family: "Montserrat", sans-serif;
}
.explain_content{
  font-size: medium;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  display: grid;
  grid-gap: 5px;
  height: 26rem;
  background-color:  rgb(13,60,109);
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
}

.logo {
  grid-column: 1;
}
img{
  width: 370px;
}
.explain {
  grid-column: 2;
  padding-top: 6%;
  color: whitesmoke;
  font-family: "Montserrat", sans-serif;
}

form{
  background-color: whitesmoke;
  width: 70%;
  height: 83rem;
  margin-left: 13%;
  margin-right: 13%;
  margin-bottom: 5%;
  margin-top: 3%;
  padding:3%;
}

.applicant_form .input-box {
    margin-left: 10%;
    margin-top: 5%;
    width: 80%;
}

.input-box label {
    font-weight: 550;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.input-box textarea {
    color: black;
    margin-top: 1%;
    width: 100%;
    height: 10rem;
    font-weight: 700;
    line-height: 1.0;
    font-size: 18px;
    background-color: rgb(250, 250, 250);
    border: 0.5px solid rgb(177, 177, 177);
}

.file{
  background-color: rgb(250, 250, 250);
  border: 0.5px solid rgb(177, 177, 177);
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;
  margin-top: 1%;

}

.btn {
  display: grid;
  grid-gap: 20%;
  position: absolute;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 10%;
  margin-right: 10%;
}


.save {
  grid-column: 1;
  line-height: 50px;
  text-align: center;
  border-radius: 10px;
  border: 1.5px solid rgb(13, 62, 114);
  background: rgb(13, 62, 114);
  color: whitesmoke;
  width: 250px;
}

.submit {
  grid-column: 2;
  line-height: 50px;
  text-align: center;
  background: rgb(13, 62, 114);
  color: whitesmoke;
  border-radius: 10px;
  border: 1.5px solid rgb(13, 62, 114);
  width: 250px;
}

.submit:hover{
  background: rgb(13, 62, 180);
  border: 1.5px solid rgb(13, 62, 180);
  color: whitesmoke;
}

.save:hover{
  background: rgb(13, 62, 180);
  border: 1.5px solid rgb(13, 62, 180);
  color: whitesmoke; 
}


@media screen and (max-width: 768px) {

  .wrapper {
    display: grid;
    grid-gap: 5px;
    height: 26rem;
    height: 10%;
    background-color:  rgb(13,60,109);
    padding-left: 3%;
    padding-right: 3%;
  }
  
  .logo {
    grid-column: 1;
    grid-row: 1;
    
  }

  .explain {
    grid-column: 1;
    grid-row: 2;
  }

  img{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 3%;
    width:130px
  }



  .title_name{
    text-align: center;
    font-size: larger;
  }
  .explain_title{
    font-size: large;
  }
  .explain_content{
    font-size: smaller;
  }

  form{
    background-color: whitesmoke;
    width: 90%;
    height: 95rem;
    margin-left: 5.5%;
    margin-right: 3%;
    margin-bottom: 5%;
    margin-top: 3%;
    padding:1%;
  }

  .btn {
    display: grid;
    grid-gap: 10%;
    position: absolute;
    margin-top: 7%;
    margin-bottom: 3%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10%;
  }
   
  .save {
    grid-column: 1;
    grid-row: 1;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
    border: 1.5px solid rgb(13, 62, 114);
    background: rgb(13, 62, 114);
    color: whitesmoke;
    width: 250px;
  }
  
  .submit {
    grid-column: 1;
    grid-row: 2;
    line-height: 50px;
    text-align: center;
    background: rgb(13, 62, 114);
    color: whitesmoke;
    border-radius: 10px;
    border: 1.5px solid rgb(13, 62, 114);
    width: 250px;
  }

}

@media only screen and (max-width: 1040px) and (min-width: 768px) {

    img{
      margin-top: 12%;
      width:300px
    }

    .btn {
      
      grid-gap: 5%;
    }

    .title_name{
      font-size: x-large;
    }
    .explain_title{
      font-size: larger;
    }
    .explain_content{
      font-size: medium;
    }

    .wrapper {
      
      grid-gap: 15px;
      height: 23rem;
      
      padding-top: 1%;
     
    }

    .save {
      
      width: 200px;
    }
    .submit {
      
      width: 200px;
    }
}
