@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:700|Noto+Sans+KR&display=swap&subset=korean');
@font-face { font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: normal; font-style: normal; }

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.jumbotron{
  background-image: url("/static/page/images/Background.jpg");
  background-size: cover;
  padding-top:15%;
  padding-bottom:10%;
}

.container h1{
  font-family: 'GmarketSansMedium';
  font-size:4em;
  color:white;
}

.container p{
  font-family: 'GmarketSansMedium';
  font-size: 2em;
  color:white;
}

.btn{
  font-size:1.25em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

footer{
  display: block;
  background-color: rgb(245, 245, 245);
  text-align: center;
  font-size: 1vw;
}

footer img {
  width: 30px;
  height: 30px;
  margin-left:5px;
  margin-right:5px;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

  .btn{
    font-size:1.25em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
  }

  footer{
    left:0px; 
    bottom:0px; 
    height:auto; 
    width:100%;
    font-size: 1em;
    padding-top:2%;
    padding-bottom: 5%;
  }

  footer img {
    width: 30px;
    height: 30px;
    margin-left:5px;
    margin-right:5px;
  }
}

@media (min-width: 411px) and (max-width:767px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

  .container h1{
    font-family: 'Noto Sans KR';
    font-size:2.8em;
    color:white;
  }
  
  .container p{
    font-family: 'Noto Sans KR';
    font-size: 1em;
    color:white;
  }

  .btn{
    font-size:1.25em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
  }

  footer{
    left:0px; 
    bottom:0px; 
    height:auto; 
    width:100%;
    font-size: 0.5em;
    padding-top:2%;
    padding-bottom: 5%;
  }

  footer img {
    width: 20px;
    height: 20px;
    margin-left:5px;
    margin-right:5px;
  }
}

@media (min-width: 320px) and (max-width:410px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

  .container h1{
    font-family: 'Noto Sans KR';
    font-size:2.5em;
    color:white;
  }
  
  .container p{
    font-family: 'Noto Sans KR';
    font-size: 1em;
    color:white;
  }

  .btn{
    font-size:1.25em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
  }

  footer{
    left:0px; 
    bottom:0px; 
    height:auto; 
    width:100%;
    font-size: 0.5em;
    padding-top:2%;
    padding-bottom: 5%;
  }

  footer img {
    width: 20px;
    height: 20px;
    margin-left:5px;
    margin-right:5px;
  }
}