 /* Loading page */

 *{
    margin: 0;
    padding: 0;
  }
  body{
    background-color: rgb(13, 60, 109);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loading{
    width: 200px;
    height: 200px;
    position: relative;
    border-top: 10px solid #e74c3c;
    animation: s1 3s linear infinite;
    box-sizing: border-box;
    border-radius: 50%;
    z-index: 1000; /* layer position */
  }
  
  .loading::before,.loading::after{
    content: '';
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .loading::before{
    border-top: 10px solid #e91e63;
    transform: rotate(125deg);
  }
  .loading::after{
    border-top: 10px solid #ff5722;
    transform: rotate(240deg);
  }
  .loading span{
    font-family: 'PT Serif';
    font-weight: bold;
    font-size: 1.3em;
    line-height: 200px;
    animation: s2 3s linear infinite;
    position: absolute;
    width: 200px;
    height: 200px;
    color: #fff;
    text-align: center;
  }
  
  @keyframes s1 {
  to{
    transform: rotate(360deg);
  }
  }
  
  @keyframes s2{
  to{
    transform: rotate(-360deg);
  }
  }

@media screen and (max-width: 768px) {
  html {
     font-family: 'PT Serif';
     font-weight: bold;
     font-size: 1.3em;
    }
 }