{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        MJU(Seoul) X Likelion
    {% endblock %}

    {% block link %}
        {% static 'account\css\login.css' %}
    {% endblock %}
</head>
<body>
    {% block content %}
    <form action="{%url 'login'%}" method="POST">
        {%csrf_token%}
        <h1>MJU(Seoul) X Likelion</h1>
        <input type="text" name="id" autocomplete="off"><br>
        <input type="password" name="pw" autocomplete="off"><br>
        <input type="submit" value="로그인">
    </form>
    {% endblock %}
</body>
</html>