{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        MJU(Seoul) X LIKELION
    {% endblock %}

    {% block link %}
        {% static 'account\css\login.css' %}
    {% endblock %}
</head>
<body>
    {% block content %}
    <form action="{%url 'login'%}" method="POST">
        {%csrf_token%}
        <h1>MJU(Seoul) X LIKELION</h1>
        <div class="login-page">
            <div class="form">
                <form class="login-form">
                    <input type="text" name="id" autocomplete="off" placeholder="ID">
                    <input type="password" name="pw" autocomplete="off" placeholder="PASSWORD">
                    <input type="submit" value="LOGIN">
                    <p class="message">Thank You.</p>
                </form>
            </div>
        </div>
    </form>
    {% endblock %}
</body>
</html>