{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        MJU(Seoul) X Likelion
    {% endblock %}

    {% block link %}
        {% static 'account\css\register.css' %}
    {% endblock %}
    .a { 
        text-indent:2em;
    }
</head>
<body>
    {% block content %}
    <form action="{%url 'register'%}" method="POST" style="text-align: center;
    font-weight: bold; background-color: rgb(44, 91, 141); color:white; font-weight: bold;">
        {%csrf_token%}
        <br><h1 align=left>회원가입</h1>
        <br><br><p>아이디(학번)</p>
        <input type="text" name="id">
        <p>비밀번호</p>
        <input type="password" name="pw">
        <p>비밀번호 확인</p>
        <input type="password" name="pw2">
        <p>이름</p>
        <input type="text" name="name">
        <p>성별</p>
        <select name="gender">
            <option>남성</option>
            <option>여성</option>
        </select>
        <br><br><p>이메일</p>
        <input type="email" name="email">
        <a href="{%url 'checkmail'%}"><input type="button" value="확인"></a>
        <br><br>
        <p>보안코드 입력</p>
        <input type="text" name="securitycode">
        <br><br><p>전화번호</p>
        <input type="text" name="phone_number">
        <p>단과대학</p>
        <select name="college">
            <option>인문대학</option>
            <option>사회과학대학</option>
            <option>법과대학</option>
            <option>경영대학</option>
            <option>ICT융합대학</option>
            <option>미래융합대학</option>
            <option>기타('학과'란에 소속 대학과 학과를 적어 주세요)</option>
        </select>
        <p>학과</p>
        <input type="text" name="department">
        <p>학년</p>
        <select name="grade">
            <option>1학년</option>
            <option>2학년</option>
            <option>3학년</option>
            <option>4학년</option>
        </select>
        <br><br>
        <input type="submit" value="회원가입">
    </form> 
    {% endblock %}
</body>
</html>