{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        MJU(Seoul) X Likelion
    {% endblock %}

    {% block link %}
        {% static 'account\css\register.css' %}
    {% endblock %}
</head>
<body>
    {% block content %}
    <br>
    <h1>회원가입</h1> 
    <form action="{%url 'register'%}" method="POST" style="text-align: center;">
        {%csrf_token%}
        <br><p>아이디(학번)</p>
        <input type="text" name="id">
        <br><br><p>비밀번호</p>
        <input type="password" name="pw">
        <br><br><p>비밀번호 확인</p>
        <input type="password" name="pw2">
        <br><br><p>이름</p>
        <input type="text" name="name">
        <br><br><p>성별</p>
        <select name="gender">
            <option>남성</option>
            <option>여성</option>
        </select>
        <br><br><p>이메일</p>
        <input type="email" name="email">
        <br><br><p>휴대폰번호</p>
        <input type="text" name="phone_number">
        <p>단과대학</p>
        <select name="college">
            <option>인문대학</option>
            <option>사회과학대학</option>
            <option>법과대학</option>
            <option>경영대학</option>
            <option>ICT융합대학</option>
            <option>미래융합대학</option>
            <option>기타('학과'란에 소속 대학과 학과를 적어 주세요)</option>
        </select>
        <br><br><p>학과</p>
        <input type="text" name="department">
        <br><br><p>학년</p>
        <select name="grade">
            <option>1학년</option>
            <option>2학년</option>
            <option>3학년</option>
            <option>4학년</option>
        </select>
        <br><br>
        <input type="submit" value="회원가입" style="color: white;">
    </form>
    {% endblock %}
</body>
</html>