{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    LIKELION X MJU(SEOUL)
    {% endblock %}

    {% block link %}
        {% static 'page\css\apply.css' %}
    {% endblock %}
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name='viewport' />
    <link href="apply.css" rel="stylesheet" type="text/css">

</head>
<body>
    {% block content %}
        <br>
        <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            설정
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'list' %}">전체</a>
            <a class="dropdown-item" href="{% url 'list_opt' 'save' %}">임시저장</a>
            <a class="dropdown-item" href="{% url 'list_opt' 'submit' %}">지원완료</a>
            </div>
        </div>
        <br>
        <ul class="list-group">
            {% for application in applications %}
            <li class="list-group-item"><a href="{% url 'detail' application.id %}">{{ application.user }}</a></li>
            {% endfor %}
        </ul>
        
    {% endblock %}
</body>
</html>