{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        MJU(Seoul) X Likelion
    {% endblock %}

    {% block link %}
        {% static 'page\css\apply.css' %}
    {% endblock %}
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name='viewport' />
    <link href="apply.css" rel="stylesheet" type="text/css">

</head>
<body>
    {% block content %}
    <main class="main_page">

        <div class="apply">
            <h1>멋쟁이 사자처럼 8기 <br>지원하기</h1><br><br>
        </div>

        <div class="applicant_form">
            <form method="post">

                <input
                    type="hidden"
                    name="apply">
                
                <div class="explain">
                    <h4>지원서는 제출 후 수정이 되지 않습니다. 내용을 충분히 검토하신 후 제출해 주시길 바랍니다.<br>
                        임시 저장이 가능하오니, 지원서 작성 시 참고하시기 바랍니다.</h2><hr>
                </div>

                <div class="input-box">
                    <label for="id_answer1">자기 소개와 함께 멋쟁이사자처럼에 지원하게 된 동기를 적어 주세요. (500자 이내)</label>
                    <textarea name="answer1" id="id_answer1" required="required"></textarea>
                </div>

                <div class="input-box">
                    <label for="id_answer2">기억에 남는 프로그래밍 경험과 느낀 점에 대해 적어 주세요. 만약 프로그래밍 경험이 없다면, <br>어떤 언어를 배우고 싶은지 적어 주세요. (500자 이내)</label>
                    <textarea name="answer2" id="id_answer2" required="required"></textarea>
                </div>

                <div class="input-box">
                    <label for="id_answer3">멋쟁이사자처럼에서 이루고 싶은 목표 및 만들고 싶은 서비스에 대해 설명해 주세요. (500자 이내)</label>
                    <textarea name="answer3" id="id_answer3" required="required"></textarea>
                </div>

                <div class="input-box">
                    <label for="id_answer4">본인이 참여했던 팀 활동 중 가장 기억에 남는 경험과 느낀 점을 적어 주세요. (500자 이내)</label>
                    <textarea name="answer4" id="id_answer4" required="required"></textarea>
                </div>

                <button type="submit" class="btn_line">지원서 제출하기</button>
            </form>
        </div>
    </main>
    {% endblock %}
</body>
</html>