{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}
        LIKELION X MJU(SEOUL)
        {% endblock %}
    </title>
    {% block link %}
        {% static 'page\css\complete.css' %}
    {% endblock %}
</head>
<body>
    {% block content %}
    <!-- override here -->
    <h2 contenteditable="true" class="title">🦁THANK YOU🦁</h2>
    <br>
    <h3>Your application has been successfully submitted.</h3>
    {% endblock %}
</body>
</html> 