{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        MJU(Seoul) X Likelion
    {% endblock %}

    {% block link %}
        {% static 'page\css\home.css' %}
    {% endblock %}
</head>
    {% block content %}
    <!-- code here -->
    <body>
        <figure class="snip1585">
            <img src="{% static 'page/images/likelionmju_logo.png'%}" alt="apply" />
            <figcaption>
            <h3>지원하기</h3>
            </figcaption>
            <a href="
                {% if user.is_authenticated %}
                    {% url 'apply' %}
                {% endif %}
                {% if not user.is_authenticated %}
                    {% url 'login' %}
                {% endif %}
                "
                ></a>
        </figure>
        
        <figure class="snip1585 hover">
            <img src="{% static 'page/images/curriculum.jpg'%}" alt="curriculum" />
            <figcaption>
            <h3>커리큘럼</h3>
            </figcaption>
            <a href="{% url 'curriculum' %}"></a>
        </figure>
        <footer>
            <div class="inner">
                <p>Copyright all rights reserved by <strong>Likelion 8th @ MJU Seoul</strong></a>.</p>
                <div class="sns">
                <a href="https://www.instagram.com/likelion_mju/" target="_blank"><img src="https://image.flaticon.com/icons/svg/174/174855.svg" alt="instagram"></a>
                <a href="https://www.facebook.com/likelionMJU/" target="_blank"><img src="https://image.flaticon.com/icons/svg/124/124010.svg" alt="facebook"></a>
            </div>
        </footer>
    <script src="{% static 'page/js/home.js' %}" type="text/javascript"></script>
    </body>
    {% endblock %}
</html>
