{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  {% block title %}
  LIKELION X MJU(SEOUL)
  {% endblock %}

  {% block link %}
  {% static 'page\css\home.css' %}
  {% endblock %}

  <!-- Bootstrap core CSS -->
  <link href="/docs/4.4/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/album/">
  <link href="album.css" rel="stylesheet">

  <!-- Google Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:800&display=swap" rel="stylesheet">

</head>
{% block content %}
<!-- code here -->

<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
          {% if message %}
          <div class="alert alert-light" role="alert" style="background-color: #F8F8F8;"> 
            <b style="color: black;"><span style="color: red;">[안내]</span> {{ message }}</b>
          </div>
          {% endif %}
      </div>
    </header>

    <main role="main">
      <section class="jumbotron jumbotron-fluid text-center">
        <div class="container">
          <h1>멋쟁이사자처럼 X 명지대(서울)</h1><br>
          <p class="lead">8기 부원 선발 시작<br><strong>모집 기간 : 03.05(목) ~ 03.19(목) 18:00</strong></p>
          <p>
            <a href="
            {% if user.is_authenticated %}
              {% url 'apply' %}
            {% endif %}
            {% if not user.is_authenticated %}
              {% url 'login' %}
            {% endif %}
            " class="btn btn-light my-2" role="button">지원하기</a>
          </p>
        </div>
      </section>

      <div class="album">
        <div class="container">
          <div class="row">
            <img class="bd-placeholder-img card-img-top" src="{% static 'page/images/Main_Image.png' %}"
              preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <small style="font-size:0.5em">멋쟁이사자처럼 X 명지대(서울)의 모든 콘텐츠는 저작권법의 보호를 받은 바, 무단 전재와 복사, 배포 등을 금합니다.</small>
              </div>
            </div>
          </div>
        </div>
    </main>

    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v3.2'
        });
      };

      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/ko_KR/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat"
      attribution=setup_tool
      page_id="273562306651581"
      theme_color="#2565ce"
      logged_in_greeting="MJU(Seoul) x Likelion 챗봇입니다:)"
      logged_out_greeting="MJU(Seoul) x Likelion 챗봇입니다:)">
    </div>
    
    <div class="push"></div>
    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Copyright <strong>Likelion 8th @ MJU Seoul</strong>. All rights reserved.</p>
        <div class="sns">
          <a href="https://www.facebook.com/likelionMJU/" target="_blank"><img
              src="https://image.flaticon.com/icons/svg/124/124010.svg" alt="facebook"></a>
          <a href="https://www.instagram.com/likelion_mju/" target="_blank"><img
              src="https://image.flaticon.com/icons/svg/174/174855.svg" alt="instagram"></a>
          <a href="https://www.github.com/likelionMJU" target="_blank"><img src="{% static 'page/images/github.svg' %}"
              alt="github"></a>
        </div>
    </footer>
  </div>
</body>
{% endblock %}
</html>