{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>MJU(Seoul) X Likelion</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="1.3; url={% url 'home' %}">
    <link rel="stylesheet" type="text/css" href="static/page/css/intro.css">

    <!-- Font  (PT Serif) -->
    <link href="https://fonts.googleapis.com/css?family=PT+Serif&display=swap" rel="stylesheet">
</head>
<body>

    <div class="loading">
        <span>HACK YOUR LIFE</span>
    </div>

    <!-- <div class="section">
        <div class="section__item">
            <a href="{% url 'home' %}" target="_self" class="sm-link sm-link_bg sm-link9">
                <span class="sm-link__label">HACK YOUR LIFE</span>
            </a>
        </div>
    </div> -->
</body>
</html>