@import url(https://fonts.googleapis.com/css?family=Roboto:300);

h1 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color:white;
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }


  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .form input {
    font-family: "Montserrat", sans-serif;
    outline: 0;
    background:whitesmoke;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    color:rgb(44, 91, 141);
    font-weight: bold;
  }

  body {
    background: rgb(13,60,109); /* fallback for old browsers */
    background: -webkit-linear-gradient(right, rgb(13,60,109), rgb(13, 62, 114));
    background: -moz-linear-gradient(right, rgb(13,60,109),rgb(13, 62, 114));
    background: -o-linear-gradient(right, rgb(13,60,109), rgb(13, 62, 114));
    background: linear-gradient(to left, rgb(13,60,109), rgb(13, 62, 114));
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
  }
 
  .message{
    font-family:"Montserrat", sans-serif;
  }

  @media screen and (max-width: 768px) {
    h1 {
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      color:white;
      font-size: 1.7em;
  }
  
  .login-page {
      width: 360px;
      padding: 8% 0 0;
      margin: auto;
    }
  
  
    .form {
      position: relative;
      z-index: 1;
      background: #FFFFFF;
      max-width: 300px;
      margin: 0 auto 90px;
      padding: 45px;
      text-align: center;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
  
    .form input {
      font-family: "Montserrat", sans-serif;
      outline: 0;
      background:whitesmoke;
      width: 90%;
      border: 0;
      margin: 0 0 13px;
      padding: 13px;
      box-sizing: border-box;
      font-size: 9px;
      color:rgb(44, 91, 141);
      font-weight: bold;
    }
  
    body {
      background: rgb(13,60,109); /* fallback for old browsers */
      background: -webkit-linear-gradient(right, rgb(13,60,109), rgb(13, 62, 114));
      background: -moz-linear-gradient(right, rgb(13,60,109),rgb(13, 62, 114));
      background: -o-linear-gradient(right, rgb(13,60,109), rgb(13, 62, 114));
      background: linear-gradient(to left, rgb(13,60,109), rgb(13, 62, 114));
      font-family: "Montserrat", sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;      
    }
   
    .message{
      font-family:"Montserrat", sans-serif;
    }


    p{
      font-size: 0.7em;
    }
  }
