@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Montserrat&display=swap');

body 

h1 {
    text-align: ceneter;
    color:rgb(13, 60, 109);
    margin-left: 3em;
}

form {
    color: rgb(13, 60, 109);
}

input{
    border: thick dotted
    border-radius: 0px solid;
    height: 60px;
    width: 500px;
    font-size: 18pt;
    text-align: center;
    color: rgb(13, 60, 109);
    background: white;
    border-color: rgb(13, 60, 109);
    padding: 7px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

input:hover,inputfocus{
        background: #ffffff;
}